---
layout: default
---

<div class="section-container">
{% for collection in site.collections %}
	{% if collection.label != 'posts' %}
		<div class="container">
			<div class="row">
				<div class="col section-3 section-description wow fadeIn">
					<h2>{{ collection.label }}</h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row">
				{% for project in site[collection.label] %}
					<div class="col-sm-4 wow fadeIn">
						<div class="card shadow-sm" style="margin-bottom: 1em">
							<a href="{{ project.url }}">
								{% for item in project.carousel_items limit:1 %}
								<img src="{{ item.path }}", alt="{{ item.desc }}", class="card-img-top" style="display: block; max-height: 240px; width: auto; height: auto;" />
								{% endfor %}
							</a>
							<div class="card-body">
								<h4 class="card-title">{{ project.name }}</h4>
								<p class="card-text">{{ project.intro }}</p>
								<!-- <div class="d-flex justify-content-between align-items-center">
								</div> -->
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endfor %}
</div>