<!-- About Us -->
<div class="section-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col section-2 section-description wow fadeIn">
            </div>
        </div>
        <div class="row">
        	<div class="col section-2-box wow fadeInLeft">
            	<h3>Section 2</h3>
            	<p class="medium-paragraph">
            		Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            		sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
            	</p>
            	<p>
            		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            		Ut wisi enim ad minim veniam, quis nostrud. 
            		Exerci tation ullamcorper suscipit <a href="#">lobortis nisl</a> ut aliquip ex ea commodo consequat. 
            		Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. 
            	</p>
            	<p>
            		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
            		Ut wisi enim ad minim veniam, quis nostrud. 
            		Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            	</p>
            </div>
        </div>
    </div>
</div>