{% if page.carousel == true %}
<!-- Carousel -->
<div id="carousel-example" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
		{% for item in page.carousel_items offset:1 %}
		<li data-target="#carousel-example" data-slide-to="{{ item.position }}"></li>
		{% endfor %}
	</ol>

	<div class="carousel-inner">
		{% for item in page.carousel_items limit:1 %}
			<div class="carousel-item active">
				<img src="{{ item.path }}" class="d-block w-100" alt="slide-img-1">
				<div class="carousel-caption">
					<h1>{{ item.title }}</h1>
					<div class="carousel-caption-description">
						<p>{{ item.desc }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
		{% for item in page.carousel_items offset:1 %}
			<div class="carousel-item">
				<img src="{{ item.path }}" class="d-block w-100" alt="slide-img-1">
				<div class="carousel-caption">
					<h1>{{ item.title }}</h1>
					<div class="carousel-caption-description">
						<p>{{ item.desc }}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- End carousel -->
{% endif %}