<!-- Collections Preview -->
<div class="section-3-container section-container">
	{% for collection in site.collections %}
		{% if collection.label != 'posts' %}
		<div class="container">
			<div class="row">
				<div class="col section-3 section-description wow fadeIn">
					<h2>{{ collection.label }}</h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row">
		
				{% for project in site[collection.label] limit:4 %}
				<div class="col-12 col-sm-6 col-md-4 col-lg-3">
					<a href="{{ project.url }}">
					{% for item in project.carousel_items limit:1 %}
				<!-- Image Path --> 
						<img src="{{ item.path }}" class="img-fluid mx-auto d-block" alt="{{ item.desc }}">
					{% endfor %}
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>