		<footer class="footer-container">
			<div class="container">
		    	<div class="row">
					<div class="col">
		            	&copy; Jekyll Construction Theme by <a href="https://wes.today">Wes Kennedy</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- Javascript -->
		<script src="assets/js/jquery-3.5.1.min.js"></script>
		<script src="assets/js/jquery-migrate-3.3.0.min.js"></script>		
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
		<script src="assets/js/jquery.backstretch.min.js"></script>
		<script src="assets/js/wow.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/scripts.js"></script>
	</body>

</html>