<!-- Three things we do -->
<div class="section-1-container section-container">
	<div class="container">
		<div class="row">
			<div class="col section-1 section-description wow fadeIn">
				<h2>Section 1</h2>
				<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
		<div class="row">
			<div class="col-md-4 section-1-box wow fadeInUp">
				<div class="row">
					<div class="col-md-4">
						<div class="section-1-box-icon">
							<i class="fas fa-magic"></i>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Branding</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 section-1-box wow fadeInDown">
				<div class="row">
					<div class="col-md-4">
						<div class="section-1-box-icon">
							<i class="fas fa-cog"></i>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Web design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 section-1-box wow fadeInUp">
				<div class="row">
					<div class="col-md-4">
						<div class="section-1-box-icon">
							<i class="fab fa-twitter"></i>
						</div>
					</div>
					<div class="col-md-8">
						<h3>Social media</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>