/***** Multiple Image Carousels *****/

@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md  if col-md-4*/
    .multi-carousel-inner .active.col-md-4.multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm  if col-sm-6*/
    .multi-carousel-inner .active.col-sm-6.multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}
@media (min-width: 576px) {
	
    .multi-carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
    .multi-carousel-inner .active + .multi-carousel-item {
        display: block;
    }
    
    .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left),
    .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left) + .multi-carousel-item {
        transition: none;
    }

    .multi-carousel-inner .multi-carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    /* left or forward direction */
    .active.multi-carousel-item-left + .multi-carousel-item-next.multi-carousel-item-left,
    .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item,
    .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } 
    
    /* farthest right hidden item must be abso position for animations */
    .multi-carousel-inner .multi-carousel-item-prev.multi-carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.multi-carousel-item-right + .multi-carousel-item-prev.multi-carousel-item-right,
    .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item,
    .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*MD*/
@media (min-width: 768px) {

    /* show 3rd of 3 item slide */
  .multi-carousel-inner .active + .multi-carousel-item + .multi-carousel-item {
        display: block;
    }
 
    .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left) + .multi-carousel-item + .multi-carousel-item {
        transition: none;
    }
  
    
    .multi-carousel-inner .multi-carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    
    /* left or forward direction */
    .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction */
    .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


/*LG */
@media (min-width: 991px) {

    /* show 4th item */
    .multi-carousel-inner .active + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        display: block;
    }
    
    .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left) + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        transition: none;
    }
    
    /* Show 5th slide on lg if col-lg-3 */
    .multi-carousel-inner .active.col-lg-3.multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction //t - previous slide direction last item animation fix */
    .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*LG 6th  -  if you want a carousel with 6 slides */
@media (min-width: 991px) {

        /* show 5th and 6th item */
 /*   .multi-carousel-inner .active + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item,
  .multi-carousel-inner .active + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        display: block;
    }

    
  
    .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left) + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item,
  .multi-carousel-inner .multi-carousel-item.active:not(.multi-carousel-item-right):not(.multi-carousel-item-left) + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
      transition: none;
    }
*/
    
  
  /*show 7th slide for animation when its a 6 slides carousel */
 /*      .multi-carousel-inner .active.multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item  + .multi-carousel-item {
        position: absolute;
        top: 0;
        right: -16.666666666%;
        z-index: -1;
        display: block;
        visibility: visible;
  }
  */
  
      /* forward direction > */
 /*   .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item,
  .multi-carousel-item-next.multi-carousel-item-left + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
  */
      /* prev direction < last item animation fix */
 /*   .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item,
    .multi-carousel-item-prev.multi-carousel-item-right + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item + .multi-carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
*/
}